* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #141414;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.canvas {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  display: block;
}

.menu {
  font-family: "Roboto Mono";
  font-size: 20px;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.menu-sa {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 5px;
}

.menu-sa select {
  padding: 10px;
  background-color: #1f1f1f;
  color: whitesmoke;
  font-family: "Roboto Mono";
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.rand-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rand-btn {
  margin: 10px 10px 0px 10px;
  padding: 10px;
  background-color: #1f1f1f;
  color: whitesmoke;
  font-family: "Roboto Mono";
  font-size: 20px;
  cursor: pointer;
}

.rand-btn:hover {
  background-color: #333;
}

.play-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play-btn {
  margin: 10px;
  padding: 10px;
  background-color: #1f2a1f;
  color: whitesmoke;
  font-family: "Roboto Mono";
  font-size: 20px;
  cursor: pointer;
}

.play-btn:hover {
  background-color: #102810;
}
